@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body, p, h1, h2, span, button, textarea {
  font-family: 'Inter', sans-serif;
}

:root {
  --main-bg-color: #F3F5FC;
  --blue-color: #0A3871;
  --gray-color: #495057;
}

body {
  min-height: 100vh; 
  max-width: 100vw;
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr ;
  grid-template-rows: 90px 1fr;
}

#header {
  grid-column: 1/ 4;
  grid-row: 1;
  margin: 40px 0 0 84px;
}

/* Página inicial */

.pagina-inicial { 
  grid-column: 2/ 3;
  grid-row: 2;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* display: none; */
}

.btn {
  border-radius: 24px;
  font-size: 1rem;
  line-height: 1.21rem;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}

.btn-play {
  background-color: var(--blue-color);
  color: #fff;
  border: none;
  margin-bottom: 1.813rem;
  height: 105px;
  width: 317px;
  
}

.btn-add {
  border: 1px solid var(--blue-color);
  background: none;
  color: var(--blue-color);
  height: 105px;
  width: 317px;

}

/* página de adicionar palavra */

.pagina-adicionar {
  grid-column: 2/ 3;
  grid-row: 2;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
}

.adicionar-texto {
  resize: none;
  outline: none;
  border: none;
  height: 311px;
  background: none;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--blue-color);

}

.adicionar-texto::placeholder {
  color: inherit;
}

.aviso {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.aviso p {
  margin-left: 8px;
  color: var(--gray-color);
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.btn-salvar {
  height: 67px;
  width: 332px;
  background-color: var(--blue-color);
  color: #fff;
  border: none;
}

.btn-cancelar {
  height: 67px;
  width: 332px;
  border: 1px solid var(--blue-color);
  background: none;
  color: var(--blue-color);
  margin-left: 24px;
}

/* Página do jogo */

.pagina-jogo {
  grid-column: 2/ 3;
  grid-row: 1; 
}

.jogo {
  /* background-color: #cecece; */
  height: 800px;
  width: 1200px;
}

.container-btn {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.btn-novo-jogo {
  height: 67px;
  width: 332px;
  background-color: var(--blue-color);
  color: #fff;
  border: none;

}

.btn-desistir {
  height: 67px;
  width: 332px;
  border: 1px solid var(--blue-color);
  background: none;
  color: var(--blue-color);
  margin-left: 24px;
}

.hidden {
  display: none;
}